.titulo{
    font: gilroy;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    letter-spacing: -0.02em;
    color: white;

}

.imagem{

    background-image: url("../img/image.png");
    background-repeat: no-repeat;
    background-size: 1500px;
    height: 500px;
    list-style: none;
    padding: 0;

}
   


.form{
    font-size: 20px;
    width: 400px;
    height: 580px;
    background: #f3f3f3;
    float: right;
    text-align: center;
    margin: 30px;

}

.forminput{
    color: gray;
    width: 300px;
    height: 40px;
    border-radius: 10px;
    margin: 8px;

    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.botao{
    width: 300px;
    height: 40px;
    border-radius: 10px;

}

.textarea{
    font-size: 15px;
    width: 300px;
    height: 200px;
    margin: 8px;
    border-radius: 10px;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.checkbox{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    float: middle;
    margin: 40px;
}
